 ---
 layout: base.njk
 pagination:
   data: managementServices
   size: 1
   alias: service
eleventyComputed:
   title: "{{ service.Name }} — Ocean Prime"
   permalink: "/management/{{ service.Slug }}/"
 ---
{% debug "Шаблон management-detail.njk обрабатывается для услуги:", service.Name %}
<section data-w-id="890cdd6c-463c-3bce-9570-327be706f564" class="hero-section__service-item">
   <div class="w-layout-blockcontainer container-6 w-container">
     <div class="hero-section-service__heading-div">
       <h1 class="hero-heading">{{ service.Name }}</h1>
       <div class="hero__text">{{ service['Подзаголовок для главного блока'] }}</div>
     </div>
   </div>
   <div class="hero-bg__div"></div><img src="{{ service['Изображение'] }}" loading="lazy" alt="{{ service.Name }}" class="image-23">
 </section>
 <section data-w-id="e17c1962-0e92-dfdf-c083-90daf4557e05" class="section--white">
   <div class="w-layout-blockcontainer section3__container w-container">
     <div class="section3__heading-div">
       <div class="section3__heading-div-wrap">
         <div class="rich-text-block-2 w-richtext">{{ service['Основной текст'] | safe }}</div>
       </div>
       <div class="div-block-21">
         <h2 class="heading-17">Оставить заявку <br>на сервисное обслуживание</h2>
         <div class="service-item__form-block w-form">
           <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" class="service-item__form" data-wf-page-id="67cffada070ad1d5856cbf4a" data-wf-element-id="df5bb168-dead-2cb6-4fe2-79624d68b767"><input class="section8__form__input w-input" maxlength="256" name="Name-4" data-name="Name 4" placeholder="Имя" type="text" id="Name-4" required=""><input class="section8__form__input w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="Ваш номер телефона" type="tel" id="Phone-2" required=""><input class="section8__form__input w-input" maxlength="256" name="Email-3" data-name="Email 3" placeholder="Электронная почта" type="email" id="Email-3" required=""><input type="submit" data-wait="Please wait..." class="submit-button-7 w-button" value="Связаться с нами"></form>
           <div class="w-form-done">
             <div>Спасибо! Представитель компании Ocean Prime свяжется с вами в ближайшее время.</div>
           </div>
           <div class="w-form-fail">
             <div>Что-то пошло не так. Пожалуйста, повторите попытку.</div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section data-w-id="2fa2bcfc-6342-cf4e-5666-872d4df844f1" class="section--white">
   <div class="w-layout-blockcontainer section3__container w-container">
     <div class="section3__heading-div">
       <div class="section3__heading-div-wrap">
         <h2 class="heading-16">Другие направления</h2>
       </div>
     </div>
     <div class="section3__heading-div w-dyn-list">
       <div role="list" class="grid-2 w-dyn-items">
         {% for otherService in pagination.data %}
           {% if otherService.Slug != service.Slug %}
           <div data-w-id="31cb6809-104a-874c-4d4f-31fff6e63e2c" role="listitem" class="link-block-3 w-dyn-item">
             <a href="/management/{{ otherService.Slug }}/" class="link-block-4 w-inline-block">
               <div class="cell v2">
                 <h2 class="card-post-title">{{ otherService.Name }}</h2>
                <h2 data-w-id="4b826592-9bbd-b294-4d45-4c99516d44e0" class="card-post-cta">ПОДРОБНЕЕ</h2><img src="{{ otherService['Изображение'] }}" loading="lazy" alt="{{ otherService.Name }}" class="service-item__hero-image">
                 <div class="div-block-9"></div>
                 <div data-w-id="4b826592-9bbd-b294-4d45-4c99516d44e4" class="div-block-9-b"></div>
               </div>
             </a>
           </div>
           {% endif %}
         {% endfor %}
       </div>
     </div>
   </div>
 </section>
 <section class="section--black">
   <div class="w-layout-blockcontainer section8__container w-container">
     <div class="section8__div">
       <div class="section8__div__map">
         <div class="section8__div__map__wrap">
           <div class="section8__div__map__wrap__adress">
             <div class="section8__div__street-name"><img src="/assets/images/Location-pin.svg" loading="lazy" alt="Иконка местоположения" class="image-12">
               <div class="text--white">г. Москва, пер. Турчанинов, д.6, стр.2</div>
             </div>
             <a href="https://yandex.ru/maps/-/CHrpnT8L" target="_blank" class="link-block--wide w-inline-block">
               <div class="text">Маршрут</div><img src="/assets/images/Arrow-3.svg" loading="lazy" width="12" alt="Стрелка" class="button-arrow">
             </a>
           </div>
           <div class="section8__map">
             <div class="code-embed w-embed w-script">
               <script type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adcf15ef8c395090c0ec2722315712c0de928dffc70742e60eb8fdbbc9adab5fb&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="section8__form">
       <div class="section8__form__heading__div">
         <div class="section8__heading3">Остались вопросы? </div>
       </div>
       <div class="form-block-div">
         <div class="form-block-4 w-form">
           <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-5" data-wf-page-id="67cffada070ad1d5856cbf4a" data-wf-element-id="723af1f6-669f-3696-4b9c-cb1768ab0602"><input class="section8__form__input w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" type="text" id="name-2" required=""><input class="section8__form__input w-input" maxlength="256" name="Phone-Number-2" data-name="Phone Number 2" placeholder="Номер телефона" type="tel" id="Phone-Number-2" required=""><input type="submit" data-wait="Please wait..." class="submit-button-2 w-button" value="Заказать консультацию">
             <div class="submit__div"><label class="w-checkbox checkbox-field">
                 <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-2 w--redirected-checked"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" required="" style="opacity:0;position:absolute;z-index:-1" checked=""><span class="checkbox-label-2 w-form-label" for="checkbox-2">Согласен(а) на обработку персональных данных</span>
               </label></div>
           </form>
           <div class="w-form-done">
             <div>Спасибо! Представитель компании Ocean Prime свяжется с вами в ближайшее время.</div>
           </div>
           <div class="w-form-fail">
             <div>Произошла ошибка, попробуйте еще раз.</div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
