services:
  # Service Traefik (reverse proxy)
  traefik:
    image: traefik:v2.10
    container_name: ocean_prime_traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      # - "8080:8080" # Uncomment to access the Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
      - ./traefik/certs:/etc/traefik/certs:ro
      - ./traefik/acme.json:/etc/traefik/acme.json
    networks:
      - ocean_prime_network

  # Service Website (Nginx)
  website:
    image: ocean-prime-website/website:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ocean_prime_website
    restart: unless-stopped
    networks:
      - ocean_prime_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ocean-prime-app.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.ocean-prime-app.entrypoints=websecure"
      - "traefik.http.routers.ocean-prime-app.tls=true"
      - "traefik.http.routers.ocean-prime-app.tls.certresolver=letsencrypt"
      - "traefik.http.routers.ocean-prime-app.service=ocean-prime-app"
      - "traefik.http.services.ocean-prime-app.loadbalancer.server.port=80"
      - "traefik.docker.network=ocean_prime_network"
      # --- REDIRECT FROM WWW TO CANONICAL DOMAIN ---
      - "traefik.http.middlewares.redirect-to-root.redirectregex.regex=^(https?)://\\.${DOMAIN}/(.*)"
      - "traefik.http.middlewares.redirect-to-root.redirectregex.replacement=$${1}://${DOMAIN}/$${2}"
      - "traefik.http.middlewares.redirect-to-root.redirectregex.permanent=true"
      - "traefik.http.routers.ocean-prime-www.rule=Host(`www.${DOMAIN}`)"
      - "traefik.http.routers.ocean-prime-www.entrypoints=websecure"
      - "traefik.http.routers.ocean-prime-www.tls=true"
      - "traefik.http.routers.ocean-prime-www.tls.certresolver=letsencrypt"
      - "traefik.http.routers.ocean-prime-www.middlewares=redirect-to-root"
      - "traefik.http.routers.ocean-prime-www.service=ocean-prime-app"
      # --- MIDDLEWARE FOR HTTPS AND SECURITY ---
      - "traefik.http.middlewares.ocean-prime-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.ocean-prime-headers.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.ocean-prime-headers.headers.stsPreload=true"
      - "traefik.http.routers.ocean-prime-app.middlewares=ocean-prime-headers"

networks:
  ocean_prime_network:
    name: ocean_prime_network
    driver: bridge
