<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="e763bc71-25b4-9d48-9140-c63239a13823" data-easing="ease" data-easing2="ease" role="banner" class="website-header w-nav">
    <div class="spark-square-menu-inner">
      <a href="/" aria-current="page" class="spark-brand-logo w-nav-brand w--current"><img src="/assets/images/logo-footer-1.svg" loading="lazy" alt="Логотип Ocean Prime" height="50" class="image-17"></a>
      <nav role="navigation" class="spark-nav-with-mega-dropdowns w-nav-menu">
        <div data-hover="false" data-delay="0" data-w-id="e763bc71-25b4-9d48-9140-c63239a13828" class="spark-mega-dropdown w-dropdown">
          <div class="spark-nav-link spark-with-mega-dropdown w-dropdown-toggle">
            <div class="text-block-12">Управление</div>
            <div class="spark-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 0.4375H6.71929C7.15725 0.4375 7.38357 0.96063 7.08371 1.27984L4.36442 4.17456C4.16695 4.38478 3.83305 4.38478 3.63558 4.17457L0.916287 1.27984C0.616426 0.960631 0.842751 0.4375 1.28071 0.4375H4Z" fill="currentColor"></path>
              </svg></div>
          </div>
          <nav class="spark-mega-dropdown-list w-dropdown-list">
            <div class="div-block-12">
              <div class="w-layout-grid nav_dropdown-list">
                <a data-w-id="e763bc71-25b4-9d48-9140-c63239a1382f" href="/management/operational-management/" class="nav__dropdown-item w-inline-block">
                  <div class="div-block-18">
                    <div class="div-block-19"></div><img src="/assets/images/operational-management-12webp.webp" loading="lazy" width="464" height="190" alt="Операционное управление" srcset="/assets/images/operational-management-12webp-p-500.webp 500w, /assets/images/operational-management-12webp-p-800.webp 800w, /assets/images/operational-management-12webp-p-1080.webp 1080w, /assets/images/operational-management-12webp-p-1600.webp 1600w, /assets/images/operational-management-12webp-p-2000.webp 2000w, /assets/images/operational-management-12webp.webp 2560w" sizes="100vw" class="spark-card-image">
                  </div>
                  <p class="navbar__dropdown-heading">Операционное управление</p>
                  <p class="paragraph-11">Контроль за техническим состоянием яхты, включая ремонт, обслуживание и соблюдение высоких стандартов безопасности.</p>
                </a>
                <a data-w-id="e763bc71-25b4-9d48-9140-c63239a13835" href="/management/technical-management/" class="nav__dropdown-item w-inline-block">
                  <div class="div-block-18">
                    <div class="div-block-19"></div><img src="/assets/images/yacht-build-3_1.avif" loading="lazy" width="464" height="190" alt="Техническое управление" srcset="/assets/images/yacht-build-3_1yacht-build-3.avif 500w, /assets/images/yacht-build-3_1.avif 800w" sizes="100vw" class="spark-card-image">
                  </div>
                  <p class="navbar__dropdown-heading">Техническое управление</p>
                  <p class="paragraph-10">Контроль за техническим состоянием яхт и суперъяхт, включая ремонт, обслуживание и соблюдение стандартов безопасности.</p>
                </a>
                <a data-w-id="e763bc71-25b4-9d48-9140-c63239a1383b" href="/management/fin-management/" class="nav__dropdown-item w-inline-block">
                  <div class="div-block-18">
                    <div class="div-block-19"></div><img src="/assets/images/fin-management_1.avif" loading="lazy" width="464" height="190" alt="Финансовое управление" srcset="/assets/images/fin-management_1fin-management.avif 500w, /assets/images/fin-management_1fin-management.avif 800w, /assets/images/fin-management_1fin-management.avif 1080w, /assets/images/fin-management_1.avif 2500w" sizes="100vw" class="spark-card-image">
                  </div>
                  <p class="navbar__dropdown-heading">Финансовое управление</p>
                  <p class="navbar__dropdown-text">Управление и оптимизация расходов на яхты и суперъяхты, включая эксплуатацию, страхование и налоговое планирование.</p>
                </a>
                <a data-w-id="e763bc71-25b4-9d48-9140-c63239a13841" href="/management/interior-management/" class="nav__dropdown-item w-inline-block">
                  <div class="div-block-18">
                    <div class="div-block-19"></div><img src="/assets/images/interior-management.jpg" loading="lazy" width="464" height="190" alt="Интерьерное управление" srcset="/assets/images/interior-management-p-500.jpg 500w, /assets/images/interior-management-p-800.jpg 800w, /assets/images/interior-management-p-1080.jpg 1080w, /assets/images/interior-management.jpg 1600w" sizes="100vw" class="spark-card-image">
                  </div>
                  <p class="navbar__dropdown-heading">Интерьерное управление</p>
                  <p class="navbar__dropdown-text">Организация внутреннего пространства яхты, включая индивидуальный дизайн, меблировку от самых лучших  брендов яхтенной индустрии.</p>
                </a>
                <a data-w-id="acb6c4ce-ef04-ab36-341f-3c34e645f80e" href="/management/crew-management/" class="nav__dropdown-item w-inline-block">
                  <div class="div-block-18">
                    <div class="div-block-19"></div><img src="/assets/images/crew-3.avif" loading="lazy" width="464" height="190" alt="Управление экипажем" class="spark-card-image">
                  </div>
                  <p class="navbar__dropdown-heading">Управление экипажем</p>
                  <p class="navbar__dropdown-text">Подбор, найм и администрирование работы команды 24/7, включая обучение и соблюдение высочайших стандартов обслуживания.</p>
                </a>
                <a data-w-id="b32a6852-ce33-37ed-61f9-887ed0fd6de1" href="/management/" class="nav__dropdown-item-see-all w-inline-block">
                  <div class="div-block-17">
                    <p class="navbar__dropdown-heading__link">Все направления</p>
                    <div class="nav__dropdown-image-for-hover"></div>
                  </div>
                </a>
              </div>
            </div>
          </nav>
        </div>
        <a href="/build/" class="my-nav w-nav-link">Строительство</a>
        <a href="/sales/" class="spark-nav-link w-nav-link">Продажи</a>
        <a href="/charter/" class="spark-nav-link w-nav-link">Чартер</a>
        <a href="/about-us/" class="spark-nav-link w-nav-link">О Компании</a>
        <a href="tel:+74953297777" class="spark-nav-link spark-button w-nav-link">+7 495 329 77 77</a>
      </nav>
      <div data-ix="simple-menu-button" class="spark-simple-menu-button w-nav-button">
        <div class="spark-line-1 spark-simple-line"></div>
        <div class="spark-line-2 spark-simple-line"></div>
        <div class="spark-line-3 spark-simple-line"></div>
      </div>
    </div>
</div>