global:
  checkNewVersion: true
  sendAnonymousUsage: false

# Entrypoints
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

# API and dashboard
api:
  dashboard: true
  insecure: true # FOR DEVELOPMENT ONLY! Comment out for production.

# Providers
providers:
  docker:
    exposedByDefault: false

# Certificates resolver
certificatesResolvers:
  letsencrypt:
    acme:
      email: ${LETSENCRYPT_EMAIL}
      storage: acme.json
      httpChallenge:
        entryPoint: web
