/* Fonts */
@font-face {
  font-family: Jost;
  src: url('../fonts/Jost-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Jost;
  src: url('../fonts/Jost-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Стили для секции section8__content-wrap и ее дочерних элементов,
   чтобы они соответствовали оригинальному файлу index.html */

.section8__content-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.section8__first-row-wrap-div {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  height: 450px; /* Высота задана для сохранения пропорций, как в оригинале */
}

.section8__first-row-wrap-div .image-4 {
  flex-grow: 1;
  width: auto;
  object-fit: cover;
}

.section8__first-row-wrap-div .image-5 {
  display: none;
}

.section8__first-row-wrap-div .background-video-3 {
  width: 600px;
  flex-shrink: 0;
}

.section8__second-row-div {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 800px;
  align-items: stretch;
  justify-content: space-between;
}

.section8__second-row-div .div-block-2 {
  display: flex;
  flex-direction: column;
  width: 384px;
  flex-shrink: 0;
  gap: 0; /* Убираем отступ из нового стиля и используем justify-content для распределения */
  justify-content: space-between;
}

.section8__second-row-div .background-video-4 {
  flex-grow: 1;
  position: relative;
}

.section8__second-row-div .image-6 {
  display: none;
}

.section8__second-row-div .image-2 {
  width: 600px;
  height: 800px;
  flex-shrink: 0;
}

/* Адаптивные стили для секции 8 */
@media screen and (max-width: 991px) {
  .section8__first-row-wrap-div {
    height: 350px;
  }

  .section8__first-row-wrap-div .background-video-3 {
    width: 45%;
  }

  .section8__second-row-div {
    height: auto;
    align-items: flex-start;
  }

  .section8__second-row-div .div-block-2 {
    width: 40%;
  }

  .section8__second-row-div .image-2 {
    width: 55%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .section8__content-wrap {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .section8__first-row-wrap-div {
    flex-direction: column;
    height: auto;
  }

  .section8__first-row-wrap-div .image-4,
  .section8__first-row-wrap-div .background-video-3 {
    display: none;
  }

  .section8__first-row-wrap-div .image-5 {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .section8__second-row-div {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .section8__second-row-div .div-block-2 {
    width: 100%;
    order: 2;
    gap: 24px;
    justify-content: flex-start;
  }

  .section8__second-row-div .image-2 {
    width: 100%;
    order: 1;
    height: auto;
  }

  .section8__second-row-div .background-video-4 {
    display: none;
  }

  .section8__second-row-div .image-6 {
    display: block;
    width: 100%;
    height: auto;
  }

  .section8__second-row-div .paragraph {
    text-align: center;
    max-width: 500px;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .section8__content-wrap {
    gap: 16px;
  }

  .section8__first-row-wrap-div,
  .section8__second-row-div {
    gap: 16px;
  }

  .section8__first-row-wrap-div .image-5 {
    height: 250px;
  }
}

@font-face {
  font-family: Jost;
  src: url('../fonts/Jost-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url('../fonts/Jost-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url('../fonts/Jost-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Typography */
h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 120%;
}

h2 {
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 125%;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 130%;
}

h4 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 135%;
}

h5 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 145%;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

ul,
ol {
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

/* Color Palette */
:root {
  --black-bg: #f5f6f9;
  --color-5: #efede7;
  --color-6: #f5f6f7;
  --color-4: #302f2e;
  --combine-library--grey-800: #1f2c3d;
  --combine-library--grey-600: #5f6570;
  --black: #000;
  --combine-library--grey-050: #f2f3f7;
  --combine-library--white: white;
  --white: white;
  --blue: #0e2742;
  --spark-library--black: #3a3a3a;
  --spark-library--white: white;
  --spark-library--foreground-interactive-hover: #1e116e;
  --spark-library--background--interactive: #f0ecfd;
}

body {
  color: #000;
}

/* Сетка 2x2 на десктопе, 1 колонка < 768px */
.section8__content-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

/* Карточка с клиппированием содержимого */
.section8__card {
  position: relative;
  overflow: clip; /* клиппируем содержимое */
  width: 100%;
}

/* Медиа внутри карточки заполняет контейнер и обрезается по краям */
.section8__card > img,
.section8__card > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section8__card:nth-child(3) { height: 700px; }
.section8__card:nth-child(4) { height: 700px; }

/* Мобильная версия: одна колонка */
@media screen and (max-width: 767px) {
  .section8__content-wrap {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.section8__card--video { height: 420px; } /* можно скорректировать при необходимости */
.section8__card--video .w-background-video,
.section8__card--video .section8__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.section8__card--video .w-background-video > video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: 50% 50%;
}
