/**
 * Стили для создания эффекта бесконечной бегущей строки
 * в секции "Решения для всех этапов вашего пути".
 */

/* 
 * Контейнер, в котором будет происходить анимация.
 * `display: flex` и `flex-direction: column` выстраивают два списка друг под другом.
*/
.section7__list-wrap-container {
  display: flex;
  flex-direction: column;
  animation: marquee-vertical 30s linear infinite;
}

/* 
 * Анимация, которая плавно сдвигает контейнер вверх на всю его высоту.
 * Когда первый список полностью уходит вверх, второй занимает его место,
 * создавая иллюзию бесконечного движения.
*/
@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}